home-manager/configs/hammerspoon/**/* linguist-vendored
nixos/configuration.nix filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
**/machines/** filter=git-crypt diff=git-crypt
home-manager/configs/claude/settings.json filter=git-crypt diff=git-crypt
